In [1]:
import pandas as pd
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
GradeList = zip(names,grades)
df = pd.DataFrame(data=GradeList,columns=['Names','Grades'])
df

     Names  Grades
0      Bob      76
1  Jessica      95
2     Mary      77
3     John      78
4      Mel      99

In [2]:
df['Grades'].count() # number of values
df['Grades'].mean() # arithmetic average
df['Grades'].std() # standard deviation
df['Grades'].min() # minimum
df['Grades'].max() # maximum
df['Grades'].quantile(.25) # first quartile
df['Grades'].quantile(.5) # second quartile
df['Grades'].quantile(.75) # third quartile

95.0

In [3]:
# computes the arithmetic average of a column
# mean = dividing the sum by the number of values
df['Grades'].mean()
# finds the median of the values in a column
# median = the middle value if they are sorted in order
df['Grades'].median()
# finds the mode of the values in a column
# mode = the most common single value
df['Grades'].mode()

0    76
1    77
2    78
3    95
4    99
dtype: int64

In [4]:
# computes the variance of the values in a column
df['Grades'].var()

122.5

In [5]:
import pandas as pd
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
bsdegrees = [1,1,0,0,1]
msdegrees = [2,1,0,0,0]
phddegrees = [0,1,0,0,0]
GradeList = zip(names,grades,bsdegrees,msdegrees,phddegrees)
df2 = pd.DataFrame(data=GradeList,columns=['Names','Grades','BSDegrees','MSDegrees', 'PHDDegrees'])
df2

     Names  Grades  BSDegrees  MSDegrees  PHDDegrees
0      Bob      76          1          2           0
1  Jessica      95          1          1           1
2     Mary      77          0          0           0
3     John      78          0          0           0
4      Mel      99          1          0           0

In [8]:
df2['Grades'].count() # number of values
df2['Grades'].mean() # arithmetic average
df2['Grades'].std() # standard deviation
df2['Grades'].min() # minimum
df2['Grades'].max() # maximum
df2['Grades'].quantile(.25) # first quartile
df2['Grades'].quantile(.5) # second quartile
df2['Grades'].quantile(.75) # third quartile
df2['Grades'].median()
df2['Grades'].mode()
# computes the variance of the values in a column
df2['Grades'].var()

122.5

In [9]:
df2['Grades'].count() # number of values

5

In [10]:
df2['Grades'].mean() # arithmetic average

85.0

In [11]:
df2['Grades'].std() # standard deviation

11.067971810589327

In [12]:
df2['Grades'].min() # minimum

76

In [13]:
df2['Grades'].max() # maximum

99

In [14]:
df2['Grades'].quantile(.25) # first quartile

77.0

In [15]:
df2['Grades'].quantile(.5) # second quartile

78.0

In [16]:
df2['Grades'].quantile(.75) # third quartile

95.0

In [17]:
df2['Grades'].median()

78.0

In [18]:
df2['Grades'].mode()

0    76
1    77
2    78
3    95
4    99
dtype: int64

In [19]:
df2['Grades'].var()

122.5

In [23]:
df2['BSDegrees'].count() # number of values
df2['BSDegrees'].mean() # arithmetic average
df2['BSDegrees'].std() # standard deviation
df2['BSDegrees'].min() # minimum
df2['BSDegrees'].max() # maximum
df2['BSDegrees'].quantile(.25) # first quartile
df2['BSDegrees'].quantile(.5) # second quartile
df2['BSDegrees'].quantile(.75) # third quartile
df2['BSDegrees'].median()
df2['BSDegrees'].mode()
# computes the variance of the values in a column
df2['BSDegrees'].var()

0.30000000000000004

In [24]:
df2['MSDegrees'].count() # number of values
df2['MSDegrees'].mean() # arithmetic average
df2['MSDegrees'].std() # standard deviation
df2['MSDegrees'].min() # minimum
df2['MSDegrees'].max() # maximum
df2['MSDegrees'].quantile(.25) # first quartile
df2['MSDegrees'].quantile(.5) # second quartile
df2['MSDegrees'].quantile(.75) # third quartile
df2['MSDegrees'].median()
df2['MSDegrees'].mode()
# computes the variance of the values in a column
df2['MSDegrees'].var()

0.7999999999999998

In [25]:
df2['PHDDegrees'].count() # number of values
df2['PHDDegrees'].mean() # arithmetic average
df2['PHDDegrees'].std() # standard deviation
df2['PHDDegrees'].min() # minimum
df2['PHDDegrees'].max() # maximum
df2['PHDDegrees'].quantile(.25) # first quartile
df2['PHDDegrees'].quantile(.5) # second quartile
df2['PHDDegrees'].quantile(.75) # third quartile
df2['PHDDegrees'].median()
df2['PHDDegrees'].mode()
# computes the variance of the values in a column
df2['PHDDegrees'].var()

0.20000000000000007